.contact-form-container {
    margin-block: 3rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 0.8rem;
    box-shadow: 0 4px 12px var(--color-slate600);
    padding: 2rem;

}


.contact-form .form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-group label {
    font-weight: 600;
    color: var(--color-slate400);
}

.form-group input,
.form-group textarea {
    padding: 0.5rem;
    border: 1px solid var(--color-slate500);
    border-radius: 0.4rem;
}

.contact-form-btn {
    align-self: flex-start;
}
